@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Poppins:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #b3c9ff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.login-container {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 500px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.text1 {
    color: #000000;
    font-size: 20px;
}

.text2 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    margin-bottom: 40px;
}
.login-btn {
    width: 300px;
    margin-top: -9cm;
    height: 50px;
    border-radius: 100px;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #000000;
}
.login-btn img {
    display: flex;
    margin-top: -3px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
}
.login-btn span {
    display:flex;
    color: #000000;
    font-weight: 600;
    margin-left: 70px;
    margin-top: -22px;
}
.login-git {
    width: 300px;
    height: 50px;
    border-radius: 100px;
    background-color: #ffffff;
    margin-top: 20px;
    padding-bottom: 10px;
}
.login-fb {
    margin-top: 20px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    width: 300px;
    height: 50px;
    font-size: 1rem;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login-git i {
    display: flex;
    margin-top: 7px;
    margin-left: 10px;
    font-size: 30px;
}
.login-git span {
    margin-top: -45px;
    margin-left: 70px;
}
.login-fb i {
    display: flex;
    font-size: 30px;
    padding-left: 10px;
    color: #1877f2;
}
.login-fb span {
    display:flex;
    color: #000000;
    font-weight: 600;
    padding-left: 70px;
    margin-top: -22px;
}
.login-container strong {
    display: flex;
    padding-top: 20px;
    padding-right: 70px;
    color: #000000;
    font-size: 1rem;
}
.iklan {
    background-color: #ffffff;
    border: 1px solid #000000;
    width: 350px;
    height: 470px;
    margin-left: 10cm;
    margin-top: -3.3cm;
    object-fit: cover;
    border-radius: 20px;
    display: flex;
}